.App {
  text-align: center;
  border: 3px solid gold;
  width: 33%;
  margin-left: 33%;
}
.screen{
  border: 2px solid magenta;
  width: 100%;
  height: 120px;
}
.text{
  text-align: center;
  font-size: 60px;
  padding: 5px;
  margin-top: 3px;;
}
.button-items{
  border: 1px solid black;
  padding: 5px;
  margin: 2px;
}
#i-button{
  background-color: green;
}
#d-button{
  background-color: yellow;
}
#r-button{
  background-color: red;
}

